<% provide(:title, "All Categories") %>
<%= link_to "Add Category", new_admin_questions_category_path,
                            class: "btn btn-primary" %>
<h1>All Categories</h1>
<table class="table">
  <thead>
    <tr>
      <th>Category</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td><span class="pull-right">
      <%= link_to "edit", edit_admin_questions_category_path(category) %></span>
    </td>
  </tr>
  <% end %>
</table>