<div class="panel answer-panel">
  <div class="panel-heading">
    <h3 class="panel-title"><%= answer.question.content %></h3>
    <%= answer.question.topic.name.camelize %>
  </div>
  <div class="panel-body">
    <blockquote><%= answer.encrypted_answer %></blockquote>
  </div>
</div>