<!--<p>Hey there!</p>-->
<!--<p>We're excited that you've decided to be part of The Crucial Team.</p>-->
<!--<p>As we say around the office, everyone deserves the opportunity to impress themselves, and you've taken the first step by joining us</p>-->
<!--<p>Let's verify your account by clicking the link below.Please note the link will expire in 15 minutes.</p>-->
<!--<p><%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %></p>-->
<!--<p>We wish you the greatest success,</p>-->
<!--<p>Brett Stone & Tristan Hart<br>Founders of The Crucial Team</p>-->
<!--<p>P.S. You received this email because someone put your email address in our thing. If you aren't the one who put your email address in our thing, let us know <a href="mailto:privacy@thecrucialteam.com">here</a>, because we've got your back</p>-->
<!--<p>The Crucial Team Australia Pty Ltd, 112 Lindrum Road, Frankston, VIC, Australia, 3199.</p>-->
<!--<a href="http://www.thecrucialteam.com/privacy">www.thecrucialteam.com/privacy</a>-->
