<h1>The Crucial Team</h1>

<p>Hi,</p>

<p>
Welcome to The Crucial Team! Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>