<!DOCTYPE html>
<html>
  <head>
    <title>Welcome back to Crucendo!</title>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div style="font-family: Verdana, Geneva, sans-serif; text-align: center;">
      <div style="margin: 30px">
        <%= image_tag 'logo_icon.png' %>
      </div>
      <p>Welcome back :)</p>
      <p>As we say around the office, everyone deserves the opportunity to 
      impress themselves. It’s great to see you back here and committed to your 
      development.</p>
      <p>Let’s log in to your account by clicking the <strong>log in</strong> 
      button below. Please note the link will expire after 15 minutes.</p>
      <%= button_to "Log in", 
        edit_session_url(@user.login_token, 
        email: @user.email), method: :get, 
        style: 'font-size: 1.5em; 
                color: #fff;
                background-color: #56d646;
                padding: 10px 20px; 
                -webkit-border-radius: 6px;
                -moz-border-radius: 6px;
                border-radius: 6px;
                border: none;' %>
      <p>We wish you the greatest success,</p>
      <p>Brett Stone & Tristan Hart<br>Founders of The Crucial Team</p>
      <div style="font-size: 0.8em; color: #808080;">
        <p>P.S. You received this email because someone put your email address in 
        our thing.<br>If you aren’t the one that put your email address in our thing,
        let us know because we’ve got your back.<br>
        <a href="http://crucendo.thecrucialteam.com/privacy">
          crucendo.thecrucialteam.com/privacy</a><br>
        <a href="mailto:privacy@thecrucialteam.com">privacy@thecrucialteam.com</a>
        </p>
        <p>The Crucial Team Australia Pty Ltd, PO Box 4081, Frankston Heights, 
        VIC, Australia, 3199.</p>
      </div>
    </div>
  </body>
</html>