<p>Hey <%= @user.name %>!</p>
<p>We’'e excited that you're part of The Crucial Team.</p>
<p>As we say around the office, everyone deserves the opportunity to impress 
themselves. It's great to see you back here and committed to impressing 
yourself.</p>
<p>Login to your account by clicking the link below. Please note the link will 
expire in 15 minutes.</p>
<p><%= link_to "Login", edit_session_url(@user.login_token, 
email: @user.email) %></p>
<p>We wish you the greatest success,</p>
<p>Brett Stone & Tristan Hart<br>Founders of The Crucial Team</p>
<p>P.S. You received this email because someone put your email address in our 
thing. If you aren't the one who put your email address in our thing, let us 
know <a href="mailto:privacy@thecrucialteam.com">here</a>, because we've got 
your back.</p>
<p>The Crucial Team Australia Pty Ltd, 112 Lindrum Road, Frankston, VIC, Australia,
3199.</p>
<a href="http://www.thecrucialteam.com/privacy">
  www.thecrucialteam.com/privacy
</a>