<h1>The Crucial Team</h1>

<p>Hi,</p>

<p>
Welcome back to The Crucial Team! Click on the link below to login to your account:
</p>

<%= link_to "Login", edit_session_url(@user.login_token, email: @user.email) %>