<!--<div class="crucial-container">-->
<!--  Interaction <%#= current_user.interactions.count %> -->
<!--  - started <%#= local_time_ago(@interaction.created_at) %><br><br>-->
<!--  <% wizard_steps.each do |s| %>-->
    <%#= '>' if step.equal? s %>
    <%#= s %>
<!--  <% end %>-->
<!--</div>-->