<% provide(:title, "Begin") %>
<%= render 'interactions/header' %>
<div class="crucendo-begin">
  <h3>
    You’ve made a great decision to start improving, so Crucendo is here to 
    help you every day.
  </h3>
  <p>Our advice is to take 15 minutes at the end of each 
    day, to complete a Crucendo. You should answer the questions honestly and 
    in as much detail as possible, because that’s how you will get the most out 
    of Crucendo and yourself.
  </p>
  <p>While Crucendo is designed to help you improve 
    your career, the improvements you make will be felt in other aspects of 
    your life.
  </p>
  <p>
    Close your eyes, take three slow, deep breaths, and begin.
  </p>
  <%= link_to 'Begin', next_wizard_path, class: 'btn btn-orange pull-right btn-lg' %>
  <p>
    Everyone deserves the opportunity to impress themselves
    <br>The Crucial Team
  </p>
</div>
