<% provide(:title, "Begin") %>
<% content_for :navigation_right do %>
  <%= button_to next_wizard_path, method: :get, 
      class: "custom-icon material-lg with-loader icon-pulse",
      data: {disable_with: "<div class='loader'></div>".html_safe} do %>
    <%= material_icon.done %>
  <% end %>
<% end %>
<%= render 'interactions/header' %>
<div class="crucendo-begin">
  <h3>You’ve made a great decision to start improving, so Crucendo is here to 
  help you every day.</h3>
  <p class="split">Our advice is to take some time at the end of each day to 
  complete a Crucendo. You should answer the questions honestly and in as much 
  detail as possible, because that’s how you will get the most out of Crucendo 
  and yourself. Crucendo is designed to help you to improve all aspects of your 
  life.</p>
  <h3>Close your eyes, take three slow, deep breaths, and begin.</h3><br>
</div>
