<% provide(:title, "Question 2") %>
<% content_for :navigation_left do %>
  <div class="control-menu pull-left">
    <%= link_to material_icon.keyboard_arrow_left, previous_wizard_path, 
        class: "custom-icon material-lg with-loader" %>
  </div>
<% end %>
<script>ga('send', 'event', 'Crucendo', 'Question 2');</script>
<%= render 'questions' %>