<% provide(:title, "Question 3") %>
<% content_for :navigation_left do %>
  <div class="control-menu pull-left">
  <%= button_to previous_wizard_path, method: :get, 
      class: "custom-icon material-lg with-loader",
      data: {disable_with: "<div class='loader'></div>".html_safe} do %>
    <%= material_icon.keyboard_arrow_left %>
  <% end %>
  </div>
<% end %>
<%= render 'questions' %>