<% provide(:title, "Accomplishments") %>
<h1 class="page-title">
  <i class="fa fa-line-chart"></i><br>
  <small>Accomplishments</small>
</h1>
<h1 class="page-title">This wasn't as nice as we would like it to be, so we 
threw it in the bin <%= fa_icon 'trash' %>. Check back in a couple of days to 
see your completed Crucendos, amongst other cool features!</h1>