<% provide(:title, "Crucendos") %>
<% provide(:navigation_heading, "Crucendos") %>
<% content_for :navigation_right do %>
  <div id="new_crucendo_start" class="custom-icon icon-group material-lg"
    data-toggle="modal" data-target="#start-crucendo-modal">
    <%= material_icon.add %>
  </div>
<% end %>
<!--<h1 class="page-title">-->
<!--  <%#= image_tag("crucendo_c_web.svg", class: "c-logo") %><br>-->
<!--  <small>Crucendos</small>-->
<!--</h1>-->
<!--<p class="title-helper">This is what you have accomplished.</p>-->
<div id="completed-interactions" class="panel-group">
  <%= render(@interactions) || render('accomplishments/crucendos/helpers/all')  %>
</div>
<%= will_paginate @interactions %>
<%= render 'accomplishments/start_crucendo' %>