<% provide(:title, "Crucendos") %>
<% content_for :control_menu do %>
  <div id="new_improvement_start" class="custom-icon icon-group material-lg"
    data-toggle="modal" data-target="#start-crucendo-modal">
    <%= material_icon.add %>
  </div>
<% end %>
<h1 class="page-title">
  <i class="fa fa-line-chart"></i><br>
  <small>Crucendos</small>
</h1>
<p class="title-helper">These are your accomplishments.</p>
<div id="completed-interactions" class="panel-group">
  <%= render(@interactions) || render('accomplishments/crucendos/helpers/all')  %>
</div>
<%= will_paginate @interactions %>
<%= render 'accomplishments/start_crucendo' %>