<% provide(:title, "Accomplishments") %>
<h1 class="page-title">
  <i class="fa fa-line-chart"></i><br>
  <small>Accomplishments</small>
</h1>
<p class="title-helper">These are your accomplishments.</p>
<div class="panel-group">
  <%= render(@interactions) || render('accomplishments/crucendos/helpers/all')  %>
</div>