<% provide(:title, "Admin") %>
<h1>Admin Dashboard</h1>
<div class="crucial-container">
  <%= link_to "Manage Crucial Questions", admin_questions_path, 
                                      class: "btn btn-primary" %>
  <%= link_to "Manage Crucial Skills", admin_skills_path, 
                                      class: "btn btn-primary" %>
</div>