<div class="col-lg-3 col-md-4 col-sm-6">
  <div class="panel panel-default <%="subscribed" if current_user.subscribed?(topic) %>">
    <div class="panel-heading">
      <h3 class="panel-title"><%= topic.name.camelize %></h3>
    </div>
    <div class="panel-body">
    </div>
  </div>
</div>