<% provide(:title, "Admin - Authors - #{@author.name} - Edit") %>
<% provide(:button_text, "Save") %>
<h1>Edit Author</h1>
<div class="panel panel-default">
  <div class="panel-body">
    <%= render "form" %>
  </div>
</div>