<% provide(:title, "Admin - Authors - New") %>
<% provide(:button_text, "Create") %>
<h1>New Author</h1>
<div class="panel panel-default">
  <div class="panel-body">
    <%= render "form" %>
  </div>
</div>