<% title "Admin Tracks Edit" %>
<% provide(:navigation_heading, "Admin Tracks Edit") %>
<% provide(:button_text, "Save") %>
<div class="panel panel-default">
  <div class="panel-body">
    <%= render "form" %>
  </div>
</div>