<% provide(:title, "Admin - Topics - #{@topic.name.camelize} - Edit") %>
<% provide(:button_text, "Save") %>
<h1>Edit Topic</h1>
<div class="panel panel-default">
  <div class="panel-body">
    <%= render "form" %>
  </div>
</div>