<% provide(:title, "Admin Tracks") %>
<% provide(:navigation_heading, "Admin Tracks") %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Information</h3>
  </div>
  <div class="panel-body">
    <%= @topics.size %> Tracks (<%= @topics.active.size %> Active)
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Actions</h3>
  </div>
  <div class="panel-body">
    <%= link_to fa_icon("plus", text: "New Track"), new_admin_topic_path,
                            class: "btn btn-default" %>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Tracks List</h3>
  </div>
  <div class="panel-body">
    <div class="list-group">
      <%= render @topics %>
    </div>
  </div>
</div>