<% provide(:title, "Admin - Topics - New") %>
<% provide(:button_text, "Create") %>
<h1>New Topic</h1>
<div class="panel panel-default">
  <div class="panel-body">
    <%= render "form" %>
  </div>
</div>