<% title "Admin Tracks New" %>
<% provide(:navigation_heading, "Admin Tracks New") %>
<% provide(:button_text, "Create") %>
<div class="panel panel-default">
  <div class="panel-body">
    <%= render "form" %>
  </div>
</div>