<div class="improvement-small list-group-item">
  <span class="icons">
    <%= fa_icon('trophy') %>
    <%= fa_icon('star') if improvement.unexpected %>
  </span>
  <span class="improvement-details">
    Improved <%= local_time_ago(improvement.created_at) %>
  </span>
</div>