<% provide(:title, "Haves") %>
<% content_for :control_menu do %>
  <div id="new_improvement_start" class='plus-icon'>
    <span></span>
  </div>
<% end %>
<h1 class="page-title">
  <i class="fa fa-trophy"></i><br>
  <small>Haves</small>
</h1>
<p class="title-helper">This is what you have improved.</p>
<div id="improved-goals" class="panel-group">
  <%= render(@improvements, selectable: true) || render('improvements/helpers/all') %>
</div>
<%= render 'goals/haves/new_have' %>