<% provide(:title, "Haves") %>
<% content_for :control_menu do %>
  <div id="new_improvement_start" class='plus-icon'>
    <span></span>
  </div>
<% end %>
<h1 class="page-title">
  <i class="fa fa-trophy"></i><br>
  <small>Haves</small>
</h1>
<p class="title-helper">This is what you have improved.</p>
<ul class="nav nav-tabs">
  <li class="col-xs-6 col-xs-offset-3 active">
    <a data-toggle="tab" href="#haves">All</a>
  </li>
</ul>
<div class="tab-content">
  <div id="improved-goals" class="tab-pane fade in active panel-group">
    <%= render(@improvements) || render('improvements/helpers/all') %>
  </div>
</div>
<%= render 'goals/haves/new_have' %>