<%
  if get_interaction(current_user)
    crucendo_text =  fa_icon('play', text: 'Continue recent Crucendo')
  else
    crucendo_text = fa_icon('plus', text: 'Begin a new Crucendo')
  end
%>
<h1 class="page-title">
  <i class="fa fa-tachometer"></i><br>
  <small>Dashboard</small>
</h1>
<div class="row">
  <div class="col-sm-12">
    <%= link_to crucendo_text, 
          interactions_path, 
          class: "btn btn-default btn-block btn-lg dash-button" %>
  </div>
  <div class="col-sm-12">
    <%= link_to fa_icon('list-alt', text: 'Manage Subscriptions'),
          subscriptions_path, 
          class: "btn btn-default btn-block btn-lg dash-button" %>
  </div>
  <div class="col-sm-12">
    <%= link_to fa_icon('bullseye', text: 'Wants'),
          wants_path, 
          class: "btn btn-default btn-block btn-lg dash-button" %>
  </div>
  <div class="col-sm-12">
    <%= link_to fa_icon('trophy', text: 'Haves'),
          wants_path, 
          class: "btn btn-default btn-block btn-lg dash-button disabled" %>
  </div>
</div>