<h1>Dashboard<br>
<small><%= get_name(current_user) %></small></h1>
<div class="crucial-container">
  <%= link_to 'Impress Myself', interactions_path %> - 
  <%= link_to 'Subscriptions', subscriptions_path %>
</div>