<div id="swiper-testimonials" class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <h1>free to sign-up, free to use</h1>
    </div>
    <div class="swiper-slide">
      <p>Really friendly, easy to use interface. The team are quick to respond to 
      feedback. 10/10 recommend the web app for anyone who wants to improve 
      themselves!
      <small>- Jay from Melbourne -</small></p>
    </div>
    <div class="swiper-slide">
      <p>Loooooooved the Crucendo. When im honest with myself (while crucendo'ing) 
      it really helps open my eyes to things and helps me become much more 
      aware of why I do certain things.. It's f***ing great. Today's session 
      definitely made me feel a burst of happy chemicals in my brain.
      <small>- Sladan from Melbourne -</small></p>
    </div>
    <div class="swiper-slide">
      <h1>5 minutes a day</h1>
    </div>
    <div class="swiper-slide">
      <p>I enjoy taking the five minutes each night to fill out my Crucendo. 
      It helps me eliminate the noise and reflect on what actually happened in a 
      typically chaotic day. It not only allows me to identify things that I 
      could do better next time but also lets me pat myself on the back for the 
      things I did well.
      <small>- Jeff from Melbourne -</small></p>
    </div>
    <div class="swiper-slide">
      <p>Personal development can sometimes mean going through a bunch of stuff 
      you already know but didn't do cos you couldn't really give a sh*t. In this 
      case it's not that. It's an intellectual and interesting conversation with 
      yourself, spurred on by some well thought out and provoking questions. 
      <small>- Lee from Brisbane -</small></p>
    </div>
  </div>
</div>

