<div id="swiper-testimonials" class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <h1>free to sign-up, free to use</h1>
    </div>
    <div class="swiper-slide">
      <p>I enjoy taking the five minutes each night to fill out my Crucendo. 
      It also helps me to eliminate the noise and reflect on what actually 
      happened in a typically chaotic day. It not only allows me to identify 
      things that I could do better next time but also, for me more importantly,
      lets me pat myself on the back for the things I did well.
      <small>- Jeff from Melbourne -</small></p>
    </div>
    <div class="swiper-slide">
      <h1>5 minutes a day</h1>
    </div>
    <div class="swiper-slide">
      <p>Really friendly, easy to use interface. The team are quick to respond to 
      feedback. 10/10 recommend the web app for anyone who wants to improve 
      themselves!
      <small>- Jay from Melbourne -</small></p>
    </div>
  </div>
</div>