<% provide(:title, "Admin Questions Show") %>
<% provide(:navigation_heading, "Admin Questions Show") %>
<h1 class="text-white"><%= @question.content.camelize %></h1>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Information</h3>
  </div>
  <div class="panel-body">
    <%= if @question.active
      fa_icon("circle", class: "crucial-active", text: "Active")
    else
      fa_icon("circle", class: "crucial-inactive", text: "Inactive") 
    end %> Question from the Track 
    <strong><%= @question.topic.name.camelize %></strong>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Actions</h3>
  </div>
  <div class="panel-body">
    <%= link_to fa_icon("pencil-square-o", text: "Edit Question"), 
      edit_admin_question_path(@question), class: "btn btn-default" %>
  </div>
</div>