<% provide(:title, "Tracks") %>
<% provide(:navigation_heading, "Tracks") %>
<div class="subscriptions">
  <div class="row">
    <%= render partial: "subscriptions/panel", 
          collection: @subscriptions, as: 'topic' %>
  </div>
</div>
<div class="modal fade" id="subscription-limit" tabindex="-1" role="dialog" 
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content confirm-modal">
      <div class="modal-header">
        <button type="button" class="modal-button-right close-icon" 
          data-dismiss="modal" aria-hidden="true">
          <%= material_icon.done %>
        </button>
        <h4 class="modal-title">Tracks Limit</h4>
      </div>
      <div class="modal-body">
        <h3>You must be on at least five tracks!</h3>
        <p>This is so you get a good variety of questions in Crucendo.</p>
      </div>
    </div>
  </div>
</div>