<% provide(:title, "Subscriptions") %>
<h1 class="page-title">
  <i class="fa fa-list-alt"></i><br>
  <small>Subscriptions</small>
</h1>
<p class="title-helper">Select the areas of your personal and professional life 
that you would like to improve</p>
<div class="subscriptions">
  <div class="row">
    <%= render partial: "subscriptions/panel", 
          collection: @subscriptions, as: 'topic' %>
  </div>
</div>
<div class="modal fade" id="subscription-limit" tabindex="-1" role="dialog" 
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content confirm-modal">
      <div class="modal-header">
        <button type="button" class="modal-button-right close-icon" 
          data-dismiss="modal" aria-hidden="true">
          <%= material_icon.done %>
        </button>
        <h4 class="modal-title">Subscriptions Limit</h4>
      </div>
      <div class="modal-body">
        <p>You must be subscribed to at least seven topics! 
        This limit was decided by Brett because he is a fan of odd numbers .. 
        <br><br>and so you get a good variety of questions in Crucendo.</p>
      </div>
    </div>
  </div>
</div>