<% provide(:title, "Subscriptions") %>
<h1>Subscriptions</h1>
<div class="subscriptions">
  <div class="row">
    <%= render partial: "subscriptions/panel", 
          collection: @subscriptions, as: 'topic' %>
  </div>
</div>