<% provide(:title, "Subscriptions") %>
<h1>Subscriptions</h1>
<div class="subscriptions">
  <div class="row">
    <%= render partial: "subscriptions/panel", 
          collection: @subscriptions, as: 'topic' %>
  </div>
</div>
<div class="modal fade" id="subscription-limit" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Minimum Subscription Limit</h4>
      </div>
      <div class="modal-body">
        <p>You must be subscribed to at least seven topics! 
        This is an arbitrary number that Brett came up with, 
        because he likes odd numbers.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>