<div class="goal-helper">
  <h1><%= fa_icon 'check' %></h1>
  <p>When you have completed wants, they will appear here. 
  In the meantime, imagine how good you’ll feel when you start completing stuff.
  </p>
</div>