<div class="goal-helper">
  <% if local_assigns[:completed] %>
    <p>You are working toward your first improvement</p>
  <% else %>
    <p>You have not acknowledged any improvements</p>
  <% end %>
</div>
