<% provide(:title, "Wants") %>
<h1 class="page-title">
  <i class="fa fa-bullseye"></i><br>
  <small>Wants</small>
</h1>
<p class="title-helper">This is what you want to improve.</p>
<ul class="nav nav-tabs">
  <li class="col-xs-4 active">
    <a data-toggle="tab" href="#active-goals">Active</a>
  </li>
  <li class="col-xs-4">
    <a data-toggle="tab" href="#inactive-goals">Inactive</a>
  </li>
  <li class="col-xs-4">
    <a data-toggle="tab" href="#completed-goals">Complete</a>
  </li>
</ul>
<div class="tab-content">
  <div id="active-goals" class="tab-pane fade in active panel-group">
    <%= render(@active_goals) || render('goals/helpers/active') %>
  </div>
  <div id="inactive-goals" class="tab-pane fade panel-group">
    <%= render(@inactive_goals) || render('goals/helpers/inactive') %>
  </div>
  <div id="completed-goals" class="tab-pane fade panel-group">
    <%= render(@completed_goals) || render('goals/helpers/completed') %>
  </div>
</div>