/* mixins, variables, etc. */
$a-tags: 'a, a:active, a:hover, a:visited';

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
@mixin rotate($deg: 180){
  $sDeg: #{$deg}deg;
  -webkit-transform: rotate($sDeg);
  -moz-transform: rotate($sDeg);
  -ms-transform: rotate($sDeg);
  -o-transform: rotate($sDeg);
  transform: rotate($sDeg);
}

/* font-size controller */
body {
  @media (max-width: $screen-xs-min) {
    font-size: 10px;
  }

  @media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
    font-size: 11px;
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    font-size: 12px;
  }

  @media (min-width: $screen-md-min) {
    font-size: 14px;
  }
}

/* universal */

html,body {
  height:100%;
  min-height:100%;
  font-family: 'Open Sans', sans-serif;
}

body {
  overflow-x: hidden;
  background: $pastel-blue;
}
.navbar.navbar-fixed-top {
  box-shadow: none;
  background: $pastel-blue;
  &.fixfixed {
    position: absolute !important;
  }
  .container-fluid {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.title-logo {
  text-align: center;
  margin-top: 3em;
  img {
    width: 25em;
  }
}
.tagline {
  text-align: center;
  font-size: 2.1em;
  padding: 0.5em 0;
  p {
    margin: 0;
  }
  small {
    display: block;
    font-size: 0.5em;
  }
}
.aqua {
  color: $pastel-aqua;
}
h3 {
  font-size: 2em;
}
.signup-form, .welcome-spacing {
  margin: 2em 0;
  .error {
    color: white;
  }
}
.input-group.break-group-xs {
  @media (max-width: $screen-xs-max) {
    width: 100%;
    .input-lg {
      border-radius: 6px;
    }
  }
}
textarea {
  resize: vertical;
}
.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}
.alert {
  text-align: center;
}
.crucial-container {
  margin: 0px -15px;
  padding: 20px 10px;
  margin-bottom: 20px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  small {
    color: #606080;
    letter-spacing: -1px;
  }
}
h2 {
  font-size: 2em;
  letter-spacing: -1px;
  font-weight: 300;
  margin-bottom: 2em;
  text-align: center;
  color: white;
  a {
    color: inherit;
    text-decoration: none;
    font-weight: 400;
  }
}
p {
  font-size: 1.1em;
  line-height: 1.7em;
}
ul {
  list-style: none;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  margin-bottom: 15px;
  @include box_sizing;
}
.btn-group-justified {
  margin-bottom: 15px;
}
input {
  height: auto;
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
// fix date-time input height
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  line-height: 1.428571429;
}

/* navigation */
.nav-user {
  padding: 10px 0px;
  margin: 0 20px;
  font-size: 18px;
  color: $pastel-aqua;
  border-bottom: 1px solid $pastel-aqua;
}
.navbar {
  height: 60px;
  img {
    height: 40px;
    margin-top: 3px;
    //padding: 8px 0 14px 0;
  }
  a {
    transition: all 0.2s ease-in-out;
  }
  .navigation-text {
    text-align: center;
    line-height: 60px;
    color: $pastel-aqua;
    font-size: 1.5em;
    img {
      height: 2em;
      margin-top: -8px;
    }
  }
}
.navbar-fixed-top {
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}
.navbar-right {
  float: right !important;
}
.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > .open > a {
  color: #fff;
  background-color: transparent;
  &:hover, &:focus {
    color: $pastel-blue;
    background-color: transparent;
  }
}

.navbar-nav.navbar-right:last-child {
    margin-right: 0;
}

@media (max-width: $screen-xs-max) {
  .navbar-nav .open .dropdown-menu, 
   .navbar-nav .dropdown-menu{
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    right: 0;
    left: auto;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider,
   .navbar-inverse .navbar-nav .dropdown-menu .divider {
    background-color: #e5e5e5;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a,
   .navbar-inverse .navbar-nav .dropdown-menu > li > a {
    padding: 5px 15px 5px 25px;
    color: #5a5a5a;
      &:hover {
        color: $pastel-blue;
      }
  }
  /* ensure navbar styling doesn't change */
  .navbar-nav {
    margin: 0;
  }
}

/* questions */

.questions {
  list-style: none;
  margin: 0;
  padding: 0px;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* input */

.input-group-addon, .input-group-btn {
  vertical-align: top; // make sure button aligns with input that has errors
  .btn-lg {
    height: 46px;
  }
  .btn-begin {
    width: 150px;
  }
}

.error {
  color: black;
  small {
    float: right !important;
    margin-top: -15px;
    line-height: 15px;
  }
}

.input-group .error small {
  margin-top: 0;
}

/* breadcrumbs */
.breadcrumb {
  background-color: #fff;  
}

.breadcrumb li:last-child {
  color: #999999
}

/* admin sorting */
.asc:after {
  content: "\f077";
  font-family: FontAwesome;
  padding-left: 5px;
}

.desc:after {
  content: "\f078";
  font-family: FontAwesome;
  padding-left: 5px;
}

/* sortable */
.sort-handle {
  cursor: pointer;
  margin-right: 10px;
}
.sort-chosen {
  background-color: $light-gray;
}
.text-danger .fa {
  //color: $pastel-red;
}

.start-hidden {
  display: none;
}

/* admin */
.title {
  margin: 0 10px;
}

.crucial-active {
  color: $pastel-green;
}
.crucial-inactive {
  color: $pastel-red;
}

/* Subscriptions */

/* fix bootstrap grid heights */
@media (min-width:$screen-sm-min) and (max-width: $screen-sm-max) {
  .subscriptions > .row > div:nth-child(2n+3) {
    clear: left;
  }
}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .subscriptions .row > div:nth-child(3n+4) {
    clear: left;
  }  
}
@media (min-width: $screen-lg-min) {
  .subscriptions .row > div:nth-child(4n+5) {
    clear: left;
  }  
}
.subscriptions {
  //padding-top: 2em;
}

/* privacy and terms */
.policies {
  padding: 1em 0;
  text-align: center;
  a {
    color: inherit;
  }
}
.extra-padding {
  padding-top: 25vh;
}

/* interaction questions and titles */
.interaction-question, .interaction-title {
  text-align: center;
  font-size: 2.5em;
  line-height: 1.2em;
  color: $pastel-aqua;
  padding: 1em 0.5em 0;
  p {
    font-size: 0.6em;
  }
}
.question-topic {
  font-size: 0.5em;
  color: white;
}
textarea.clean-input {
  border: none;
  overflow: auto;
  outline: none;
  background: none;
  font-size: 1.5em;
  color: white;
  padding: 0;
  
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $light-gray;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: $light-gray;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: $light-gray;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: $light-gray;
  }
}

textarea.autogrow {
  resize: none;
  overflow: hidden;
}

.improve-btn {
  text-align: left;
  &.active {
    color: white;
    background-color: $pastel-teal;
    border-color: inherit;
    box-shadow: none;
  }
  &:focus {
    background-color: #fff;
    box-shadow: none;
  }
  &:active {
    box-shadow: none;
  }
  &:before {
    content: "\f25a";
    font-family: FontAwesome;
    float: right;
  }
}
.improve-btn.active:before {
  content: "\f140";
  font-family: FontAwesome;
  float: right;
}

h3.panel-title {
  font-size: 1.6em;
}

.goal_info {
  font-size: 0.7em;
}

.helper {
  font-size: 0.9em;
  color: $dark-gray;
}
a.helper {
  text-decoration: inherit;
}

.interaction-summary {
  font-size: 1.5em;
  text-align: center;
  color: white;
  .small {
    font-size: 0.85em;
  }
  span {
    font-size: 1.5em;
    font-weight: 600;
  }
  ul {
    padding: 0;
    color: $pastel-aqua;
  }
}

#select-goals-button {
  text-align: center;
  height: auto;
  background: $pastel-teal;
  color: white;
  border: 1px solid white;
  transition: all 0.3s;
  &:hover {
    border-color: $pastel-teal;
  }
}

.crucendo-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  margin-top: 2px;
  color: $pastel-blue;
  position: relative;
  a {
    color: inherit;
    text-decoration: inherit;
  }
  span {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-left: -11px;
  }
}
.beta-logo {
  color: $pastel-aqua;
  position: absolute;
  bottom: 4px;
  right: 10px;
  font-size: 12px;
  font-weight: 600;
}
.nav-button-left {
  padding: 6px 10px 6px 0px;
}

.btn-link.btn-danger {
  color: white;
}
.delete-link {
  color: white;
  text-decoration: inherit;
}
#site-content {
  transition: all 0.6s ease;
  background: $pastel-blue;
  min-height: 100%;
  padding-top: 10px;
  &.want-show {
    background: $pastel-teal;
  }
  &.crucendo-show {
    background: $pastel-green;
  }
  &.padded-top {
    padding-top: 70px;
  }
  &.nav-active {
    opacity: 0;
  }
  &.nav-active:after {
    cursor: pointer;
    content: " ";
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}
#fixed-nav {
  //background: $pastel-blue;
  position: fixed;
  height: 100%; 
  top: 60px;
  left: -300px;
  width: 300px;
  z-index: 1;
  transition: all 0.6s ease;
}
#fixed-nav.nav-active {
  -webkit-transform: translateX(300px) scale(1);
  -moz-transform: translateX(300px) scale(1);
  -ms-transform: translateX(300px) scale(1);
  -o-transform: translateX(300px) scale(1);
  transform: translateX(300px) scale(1);
}

#fixed-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
#fixed-nav ul li a {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: transparent;
  color: white;
  text-align: left;
  font-size: 16px;
  padding-left: 75px;
  transition: 0.3s ease;
  //font-weight: 300;
  .fa {
    position: absolute;
    left: 0;
    line-height: inherit;
    padding-left: 25px;
    font-size: 1.5em;
    .c-logo {
      vertical-align: inherit;
      margin-top: 5px;
      margin-left: -5px;
    }
  }
}
#fixed-nav ul li a:hover {
  text-decoration: none;
  transform: translateX(20px);
  
}
/* interactions have */
.section-split-text {
  margin: 5px;
  text-align: center;
  font-size: 1.4em;
  color: white;
}
button.text-button {
  font-size: 1.8em;
}
.button-helper {
  font-size: 0.6em;
}

/* dashboard */
.dash-button {
  text-align: left;
  font-size: 1.5em;
  padding-left: 50px;
  .fa {
    padding-left: 30px;
    position: absolute;
    left: 0;
    line-height: inherit;
  }
}
hr {
  border-color: $light-gray;
}
.no-padding {
  padding: 0;
}
.btn{
  margin: 5px 0px;
  white-space: normal;
}
.input-group-btn>.btn {
  margin: inherit;
  white-space: inherit;
}
.author-logo {
  display: inline-block;
  max-height: 30px;
}

.improvements-large {
  text-align: center;
  .fa-stack {
    font-size: 10em;
    height: 1.2em;
    line-height: 1em;
    .fa {
      color: $pastel-navy;
    }
    .improvements-count {
      color: white;
      font-size: 0.2em;
      font-weight: 600;
      margin-top: -20px;
      margin-left: -1px;
    }
  }
  
}
.goal-begin {
  font-size: 1.8em;
  text-align: center;
  color: $light-gray;
}
h1.page-title {
  margin-bottom: 10px;
  color: white;
  &.light {
    font-weight: 300;
    margin-bottom: 1em;
  }
  small {
    color: $pastel-aqua;
  }
  a {
    color: inherit;
    transition: opacity 0.3s ease;
    &:hover {
      opacity: 0.6;
    }
  }
}
// scale placeholder text so it fits on smaller mobile devices
input[type=text], input[type=email] {
  // &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  // font-size: 0.8em;
  // }
  // &::-moz-placeholder { /* Firefox 19+ */
  //   font-size: 0.8em;
  // }
  // &:-ms-input-placeholder { /* IE 10+ */
  //   font-size: 0.8em;
  // }
  // &:-moz-placeholder { /* Firefox 18- */
  //   font-size: 0.8em;
  // }
}

.btn-orange {
  background-color: $pastel-orange;
  border: 1px solid $pastel-orange;
  color: white;
  &:hover, &:active, &:focus {
    color: white;
    background-color: $pastel-orange-dark;
  }
}
.btn-green {
  background-color: $pastel-green;
  border: 1px solid $pastel-green;
  color: white;
  &:hover, &:active, &:focus {
    color: white;
    background-color: $pastel-green-dark;
  }
}
.scaled-btn.improve-btn {
  font-size: 1.5em;
  height: auto;
  margin: 0;
}
.container {
  padding-left: 10px;
  padding-right: 10px;
}
.btn-have {
  background-color: $pastel-navy;
  border: 1px solid $pastel-navy;
  color: white;
  &:hover, &:active, &:focus {
    color: white;
    background-color: $pastel-navy-dark;
  }
}
.btn-want {
  background-color: $pastel-teal;
  border: 1px solid $pastel-teal;
  color: white;
  &:hover, &:active, &:focus {
    color: white;
    background-color: $pastel-teal-dark;
  }
}
.nav-tabs {
  margin: 20px 0px;
  li {
    padding: 0;
    &.active {
      a, a:active, a:hover, a:visited, a:focus {
        border-bottom-color: $pastel-blue;
        background-color: inherit;
        color: white;
      }
    }
    a {
      text-align: center;
      margin: 0;
      font-size: 1.3em;
      color: $pastel-aqua;
      padding: 10px 0px;
      &:hover, &:focus {
        background-color: inherit;
        border: none;
        color: white;
      }
    }
  }
}
.crucendo-begin {
  font-size: 1.2em;
  text-align: center;
  color: white;
}

// fix safari input-group-btn height issue
.input-group-btn {
  .btn-lg {
    height: 46px;
  }
}

// ensure submit buttons scale normally
input[type='submit'] {
  height: auto;
}

.datepicker.dropdown-menu {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  z-index: 9999 !important;
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: color 0 ease-in;
  transition: none;
}

input[type="date"]
{
  display: block;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  min-height: 1.2em;
  padding: 0 16px;
}

.input-group.date {
  margin-bottom: 15px;
}

.goal-details {
  ul {
    padding: 10px;
    font-size: 1.5em;
    margin-bottom: 20px;
    background: white;
    border-radius: 4px;
    li {
      .fa {
        position: absolute;
        line-height: inherit;
        padding-left: 0.5em;
      }
      .fa-play {
        margin-left: 1px;
      }
      p {
        margin: 5px 0px;
        font-size: 1em;
        padding-left: 3em;
        line-height: inherit;
      }
    }
  }
}

.panel.remember {
  margin-bottom: 10px;
  span {
    display: block;
    &:first-of-type {
      font-size: 1.2em;
    }
  }
  .panel-body {
    padding:10px;
  }
}
.dash-achievement {
  text-align: center;
  color: white;
  margin: 0;
  .pluralize-number {
    display: block;
    font-size: 4em;
    line-height: 1em;
  }
  .pluralize-word {
    display: inline-block;
    //line-height: 1em;
    color: $pastel-aqua;
  }
}
.goal-helper, .improvement-helper, .missing-content-helper {
  font-size: 1.5em;
  text-align: center;
  color: white;
  padding: 1em;
  a {
    color: white;
    text-decoration: underline;
  }
}
.alert {
  font-size: 1.3em;
  border: none;
  &.alert-success {
    color: white;
    background-color: $pastel-green;
  }
  &.alert-warning {
    color: white;
    background-color: $pastel-orange;
  }
  &.alert-danger {
    color: white;
    background-color: $pastel-red;
    a {
      font-weight: 600;
      color: inherit;
    }
  }
  .close {
    padding-left: 5px;
  }
}
p.split {
  margin: 2em 0;
}
.btn .fa {
  //margin-left: 0.3em;
}
.feeling-helper {
  text-align: center;
  color: white;
}
.interaction-stats {
  text-align: center;
  color: $dark-gray;
  .pluralize-number {
    display: block;
    font-size: 4em;
    line-height: 1.5em;
    color: $dark-gray;
  }
  .pluralize-word {
    display: inline-block;
  }
}
#help-contents {
  text-align: center;
  padding: 1em 0;
  a {
    color: white;
    font-size: 1.2em;
    line-height: 2.5em;
    &:hover, &:focus, &:active {
      color: white;
    }
  }
}
.help-image {
  height: 1.5em;
}
.title-helper {
  text-align: center;
  font-size: 1.2em;
  color: white;
}
img.c-logo {
  height: 1.5em;
}
.answer-panel {
  color: white;
  background: transparent;
  border: none;
  box-shadow: none;
  font-size: 1.2em;
  -webkit-box-shadow: none;
  .panel-heading {
    padding: 1em 0;
  }
  .panel-body {
   padding: 0;
  }
}
blockquote {
  font-size: 1.5em;
  font-weight: 300;
  border-left: 2px solid white;
}
h2.line-span {
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid white; 
  line-height: 0.1em;
  margin: 2em 0;
  font-size: 2em;
  color: white;
  &.green span {
    background: $pastel-green; 
    padding:0 10px;
  }
  &.teal span {
    background: $pastel-teal; 
    padding:0 10px;
  }
}
/* errors */
.has-error .form-control {
  border: 2px solid $pastel-orange;
  &:focus {
    border: 2px solid $pastel-orange;
  }
}
.signup-error {
  color: white;
}
.user-edit-error {
  color: white;
  float: right;
  margin-top: -15px; // Fix input margin
  margin-bottom: -15px; // Prevent save button from misalignment
}
.goal-error {
  float: right;
  margin-top: -15px; // Fix input margin
  margin-bottom: -15px; // Prevent save button from misalignment
}
.btn {
  transition: all 0.3s;
}
.welcome-message {
  text-align: center;
  color: white;
  font-size: 18px;
  a {
    text-decoration: inherit;
    color: $pastel-orange;
    font-size: 0.9em;
  }
}
label {
  font-weight: 400;
}
form {
  &.edit_user, &.edit_goal {
    label {
      color: white;
    }
  }
  &.modal-form {
    label {
      color: #333333;
    }
  }
}
.btn-group {
  .btn-default {
    color: $dark-gray;
    &:hover {
      border-color: $pastel-green-light;
      background-color: $pastel-green-light;
      color: white;
    }
    &:active, &.active {
      color: white;
      background-color: $pastel-green;
      border-color: $pastel-green;
      box-shadow: none;
      -webkit-box-shadow: none;
    }
  }
  .improve-btn {
    &:hover {
      border-color: $pastel-teal-light;
      background-color: $pastel-teal-light;
      color: white;
    }
    &:active, &.active {
      color: white;
      background-color: $pastel-teal;
      border-color: $pastel-teal;
      box-shadow: none;
      -webkit-box-shadow: none;
    }
  }
}

.hidden_file {
  display: none !important;
}
button.calendar-helper.plus-text {
  padding-top: 0;
  span {
    font-size: 0.6em;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 1px;
  }
}
.pagination {
  width: 100%;
  text-align: center;
}
#flash-container {
  cursor: pointer;
  display: none;
  position: fixed;
  z-index: 9999;
  width: 100%;
  .alert {
    min-height: 62px;
    font-size: 20px;
  }
}
// User security form button hidden by default
#save-security {
  display: none;
}

.edit_answer {
  .error {
    small {
      color: white;
    }
    textarea {
      border: 2px solid $pastel-orange;
    }
  }
}

@-webkit-keyframes pulse {
  0% { -webkit-transform: scale(1); }
  50% { -webkit-transform: scale(1.2); }
  100% { -webkit-transform: scale(1); }
}
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}
.icon-pulse {
  .material-icons, .fa {
    -webkit-animation: pulse 2s ease infinite;
    animation: pulse 2s ease infinite;
  }
}

/***********************/
.progressbar {
  counter-reset: step;
  height: 60px;
  margin: 0;
  padding: 0;
  margin-left: -10px;
  margin-right: -10px;
}
.progressbar li {
  list-style-type: none;
  width: 16.6%;
  float: left;
  font-size: 12px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: $pastel-green;
  a {
    color: white;
  }
}
.progressbar li:before {
  cursor: pointer;
  width: 30px;
  height: 30px;
  content: counter(step);
  counter-increment: step;
  line-height: 28px;
  border: 2px solid $pastel-green;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: $pastel-blue;
  position: relative;
  z-index: 1;
}
.progressbar li:after {
  width: 100%;
  height: 2px;
  content: '';
  position: absolute;
  background-color: $pastel-green;
  top: 15px;
  left: -50%;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.current {
  color: white;
  & ~ li {
    color: white;
    &:before {
      border-color: white;
    }
    &:after {
      background-color: white;
    }
  }
}
.progressbar li.current + li:after {
  background-color: white;
}
.center-logo {
  position: absolute;
  left: 50%;
  width: 40px;
  text-align: center;
  margin-left: -20px;
}

span.interaction-helper {
  display: block;
  font-size: 0.5em;
  color: white;
}
.crucendo-circle {
	position: relative;
  width: 100%;
  max-width: 250px;
  margin: auto;
	border-radius: 50%;
	background-color: $pastel-green;
	cursor: pointer;
	-webkit-box-shadow: 0px 4px 15px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 15px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 15px -5px rgba(0,0,0,0.75);
  transition: transform 0.3s ease-out;
  &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  &:hover {
    transform: scale(0.95);
  }
}
.crucendo-circle-content {
  position: absolute;
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    margin-left: -1.5%;
    margin-top: -1%;
  }
  .text-container {
    color: white;
    font-size: 2em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    left: 50%;
    .text-offset {
      position: relative;
      left: -15%;
    }
  }
}
.tall {
	position: relative;
  width: 100%;
	background-color: white;
  &:after {
    content: "";
    display: block;
    padding-bottom: 200%;
  }
}
.tall-content {
  position: absolute;
  width: 100%;
  height: 100%;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-text {
  font-weight: 300;
  color: white;
}
.modal-trigger-helper {
  text-align: center;
  font-size: 1.2em;
  p {
    margin: 1em 0;
  }
  .modal-trigger {
    cursor: pointer;
    text-decoration: underline;
  }
}
.center-large {
  text-align: center;
  font-size: 2em;
}
.search-params {
  color: white;
  text-align: center;
  font-size: 1.2em;
  a {
    text-decoration: inherit;
    color: inherit;
  }
}