// All panels
.panel {
  border: 1px solid white;
  .panel-heading {
    transition: all 0.3s;
  }
  .panel-body {
    padding: 10px;
    ul {
      padding: 0;
      margin: 0;
      li {
        .fa {
          line-height: inherit;
          padding-left: 0.5em;
        }
        .fa-play {
          margin-left: 1px;
        }
        span.offset {
          padding-left: 1em;
        }
      }
    }
  }
  &.selectable {
    transition: all 0.3s;
    &:hover, &:focus {
      border-color: $pastel-orange;
      .panel-heading {
        background-color: $pastel-orange;
      }
     // transform: scale(1.03);
    }
    a {
      color: inherit;
      text-decoration: inherit;
    }
  }
}
.panel-group {
  margin-bottom: 10px;
}
.goal-panel {
  .panel-heading {
    background-color: $pastel-teal;
    color: white;
  }
  &.selectable:hover {
    //border-color: $pastel-teal;
  }
  &.improved {
    .panel-heading {
      background-color: $pastel-navy;
      color: white;
    }
    &:hover {
      border-color: $pastel-navy;
    }
  }
}
.improvement-panel {
  .panel-heading {
    background-color: $pastel-navy;
    color: white;
  }
  &.selectable:hover {
    //border-color: $pastel-navy;
  }
}
.interaction-panel {
  .panel-heading {
    background-color: $pastel-green;
    color: white;
    img {
      margin-top: -0.25em;
    }
  }
  &:hover {
    //border-color: $pastel-green;
  }
}
.answer-panel {
  border: none;
}
.panel-help {
  background: none;
  color: white;
  border: none;
  webkit-box-shadow: none; 
  box-shadow: none;
  padding-top: 62px; // account for fixed nav
  margin-top: -62px; // account for fixed nav
  .panel-title {
    color: $pastel-aqua;
    text-align: center;
    font-size: 2em;
  }
  .panel-body {
    h3 {
      font-size: 1.5em;
    }
  }
  .panel-footer {
    text-align: center;
    background: none;
    color: white;
  }
  a {
    text-decoration: none;
  }
}