// All panels
.panel {
  border: 1px solid white;
  a {
    color: inherit;
    text-decoration: inherit;
  }
  .panel-heading {
    transition: all 0.3s;
    .panel-title-helper {
      font-size: 0.7em;
      opacity: 0.8;
    }
    .pull-right-padded {
      padding-left: 15px;
    }
    .pull-left-padded {
      padding-right: 15px;
    }
    .pull-left-absolute {
      position: absolute;
      .c-logo {
        margin-left: -0.2em;
      }
    }
    .pull-left-absolute ~ div { 
      padding-left: 1.7em;
    }
  }
  .panel-body {
    padding: 10px;
    ul {
      padding: 0;
      margin: 0;
      li {
        .fa {
          line-height: inherit;
          padding-left: 0.5em;
        }
        .fa-play {
          margin-left: 1px;
        }
        span.offset {
          padding-left: 1em;
        }
      }
    }
  }
  &.selectable {
    transition: all 0.3s;
    &:hover, &:focus {
      border-color: $pastel-orange;
      .panel-heading {
        background-color: $pastel-orange;
      }
    }
  }
  &.heading-only {
    .panel-heading {
      border-radius: 3px;
    }
  }
}
.panel-group {
  margin-bottom: 10px;
}
.goal-panel, .improvement-panel, .crucendo-panel, .interaction-panel {
  .panel-title {
    font-weight: 300;
    line-height: 1.4em;
  }
} 
.goal-panel {
  .panel-heading {
    background-color: $pastel-teal;
    color: white;
  }
  &.improved {
    .panel-heading {
      background-color: $pastel-navy;
      color: white;
    }
  }
}
.improvement-panel {
  .panel-heading {
    background-color: $pastel-navy;
    color: white;
  }
}
.interaction-panel {
  .panel-heading {
    background-color: $pastel-green;
    color: white;
    img {
      margin-top: -0.25em;
    }
  }
}
.answer-panel {
  border: none;
}
.panel-help {
  background: none;
  color: white;
  border: none;
  webkit-box-shadow: none; 
  box-shadow: none;
  padding-top: 62px; // account for fixed nav
  margin-top: -62px; // account for fixed nav
  .panel-title {
    color: $pastel-aqua;
    text-align: center;
    font-size: 2em;
  }
  .panel-body {
    h3 {
      font-size: 1.5em;
    }
  }
  .panel-footer {
    text-align: center;
    background: none;
    color: white;
  }
  a {
    text-decoration: none;
  }
}
.subscription-panel {
  a.update-subscription {
    color: inherit;
    text-decoration: inherit;
  }
  .panel-heading {
    :before {
      content: "\f096";
      font-family: FontAwesome;
      float: right;
    }
  }
  &.subscribed {
    .panel-heading {
      background: $pastel-orange;
      color: white;
      text-align: left;
      :before {
        content: "\f046";
        font-family: FontAwesome;
        float: right;
      }
    }
  }
}
.panel-crucendo {
  margin: 2em 0;
  color: white;
  background-color: $pastel-green;
  transition: all 0.3s;
  a {
    text-decoration: inherit;
    color: inherit;
  }
  .panel-heading {
    font-size: 2em;
    text-align: center;
  }
  &:hover {
    border-color: $pastel-green;
  }
}