<%= link_to '#', class: "list-group-item" do %>
  <span class="badge">Created <%= user.created_at %></span>
  <span class="title"><%= user.email %> (<%= user.interactions.completed.size %> Completed Crucendos)</span>
<% end %>