<header class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="nav-button-left pull-left">
      <%= button_tag '', id: 'navigation-button',
          class: 'c-hamburger c-hamburger--htx toggle-panel' do %>
        <span></span>
      <% end %>
    </div>
    <div class="pull-left">
      <div class="crucendo-logo">
        <%= link_to root_url do %>
          <%= image_tag("crucendo_logo_web.svg") %>
        <% end %>
        <div class="beta-logo">beta</div>
      </div>
    </div>
    <% if content_for? :control_menu %>
      <div class="pull-right control-menu">
        <%= yield :control_menu %>
      </div>
    <% end %>
  </div>
</header>