<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <% if logged_in? %>
    <div class="nav-button-left pull-left">
      <%= button_tag '', 
          class: "c-hamburger c-hamburger--htx toggle-panel" do %>
        <span></span>
      <% end %>
    </div>
    <% end %>
    <div class="pull-left">
      <div class="crucendo-logo">
        <%= link_to root_url do %>
          <%= image_tag("logo.svg") %>
          <span>rucendo</span>
        <% end %>
      </div>
    </div>
  </div>
</header>